<div class="container">

    <h1>{{ title }}</h1>

    <form [formGroup]="skillForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="name">Name</label><br />
            <input type="text" class="form-control" formControlName="name">
        </div>

        <br />
        <div>
            <button type="button" class="btn btn-primary" (click)="addSkill()">Add New Skills</button>
        </div>

        <br />
        <div>
            <!-- Skills: -->
            <div formArrayName="skills">
                <div *ngFor="let skill of getSkills().controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="col-6">
                                Skill
                                <input type ="text" class="form-control" formControlName="Skill">
                            </div>
                            <div class="col-6">
                                Experience
                                <input type ="text" class="form-control" formControlName="Experience">
                            </div>
                        </div>

                    </div>
                    <br />
                </div>
            </div>

            <br />
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>

</div>